<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express Dev Skills</title>
</head>
<body>
  <h1>Skills</h1>
  <% skills.forEach(skill => { %>
  <ul> <a href="/skills/<%= skill._id %>"><%= `${skill.description}` %></a>
    <li><%= `Skill Level: ${skill.skillLevel}` %></li>
    <li><%= `Years Practiced: ${skill.yearsPracticed}` %></li>
  </ul>
  <% }) %>
  <a href="/skills/new">Add New Skill</a>
</body>
</html>