<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Skill</title>
</head>
<body>
  <h1>Add New Skill</h1>
  <form action="/skills" method="POST" autocomplete="off">
    <h4>Skill Description:
      <input type="text" name="description">
    </h4> 
    <h4>Skill Level:
      <select name="skillLevel" id="">
        <option value="Beginner">Beginner</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Expert">Expert</option>
      </select>
    </h4>
    <h4>Years Practiced:
      <input type="text" name="yearsPracticed">
    </h4>
    <button type="submit">Add New Skill</button>
  </form>
</body>
</html>