<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
  <h2>Skill #<%= skill._id %></h2>
  <h3><%= skill.description %></h3>
  <p><%= `Years Practiced: ${skill.yearsPracticed}` %></p>
  <p><%= `Skill Level: ${skill.skillLevel}` %></p>
	<a href="/skills">Go back</a>
</body>
</html>